body {
	background-color: #4da6ff;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

@font-face {
	font-family: inknut;
	src: url("../font/inknut-antiqua/InknutAntiqua-Regular.ttf");
}
@font-face {
	font-family: kaushan;
	src: url("../font/kaushan-script/KaushanScript-Regular.otf");
}

h1 {
	color: #2952a3;
	font-family: kaushan;
	text-shadow: 2px 2px gray;
	font-size: 5em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	color: #F5F6CE;
	font-family: inknut;
	text-shadow: 2px 2px #2952a3;
	font-size: 2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	color: #F5F6CE;
	font-family: inknut;
	text-shadow: 2px 2px orange;
	text-align: left;
	padding-left: 10%;
	margin-bottom: 0px;
}

h4 {
	font-family: inknut;
	color: #F5F6CE;
	margin-left: 10%;
	text-align:left;
	margin-top: 0px;
}

button {
	margin-left: 10px;
	display: block;
	padding-left: 0;
}

ul {
	background-color: #f2f2f2;
	width: 100%;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;

}

li {
	color: #2952a3;
	font-family: inknut;
	font-size: 1em;
	display: inline;
	background-color: #f2f2f2;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	padding-right: 2.5%;
	padding-left: 2.5%;
}

li a:hover {
	background-color: white;
}

.pictures {
	margin-top: 2%;
}

iframe {
	padding-top: 2%;
	padding-bottom: 10%
}

#Collins_Widget {
	margin-left: 37%;
	margin-right: 37%;
}

#links {
	font-size: 2em;
	text-decoration: underline;
	color: red;
	padding-top: 2%;
	padding-bottom: 1%;
	text-align: center;
}

input[type=text]:focus {
    border: 3px solid #555;
}

input[type=text] {
	text-align: left;
	padding: 2%;
	font-size: 2em; 
	/*width: 45%;
	height: 100px;*/
}

form {
	text-align: left;
	padding-left: 10%;
	padding-top: 0px;
	
}

.button:hover {
    background-color: #0174DF;
    color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type=submit] {
	text-decoration: none;
	padding: 1%;
	color: #0174DF;
	background-color: white;
	border: none;
	border: 2px solid #0174DF;
}

.bild {
	text-align: center;
	display: block;
	padding-left: 13.5%;
	padding-right: 13.5%;
	padding-top: 3%;
	height: 70%;
	width: 70%;
}
	  






