body {
	background-color: #4da6ff;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

@font-face {
	font-family: inknut;
	src: url("../font/inknut-antiqua/InknutAntiqua-Regular.ttf");
}
@font-face {
	font-family: kaushan;
	src: url("../font/kaushan-script/KaushanScript-Regular.otf");
}

h1 {
	color: #2952a3;
	font-family: kaushan;
	text-shadow: 2px 2px gray;
	font-size: 5em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	color: #F5F6CE;
	font-family: inknut;
	text-shadow: 2px 2px #2952a3;
	font-size: 2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}

h3 {
	color: #F5F6CE;
	font-family: inknut;
	text-shadow: 2px 2px orange;
}

/*img {
	width: 45%;
	height: 50%;
	margin-left: 10px;
	display: block;
} */

button {
	margin-left: 10px;
	display: block;
	padding-left: 0;
}

ul {
	background-color: #f2f2f2;
	width: 100%;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;

}

li {
	color: #2952a3;
	font-family: inknut;
	font-size: 1em;
	display: inline;
	background-color: #f2f2f2;
	margin-top: 0px;
}

a {
	text-decoration: none;
	color: inherit;
	padding-right: 2.5%;
	padding-left: 2.5%;
}

li a:hover {
	background-color: white;
}

.twitter-timeline {
	text-align: center;
}

.pictures {
	margin-top: 2%;
}

iframe {
	padding-top: 2%;
	padding-bottom: 10%
}







